.footer{
    width: 100%;
    background-color: #FFD400;
    padding-top: 86px;
    padding: 20px;
    overflow: hidden;
    font-family: "Fraunces", serif;
}
.footer .footer-main {
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer .footer-main .footer1 .footer1-header{
    width: 550px;
}
.footer .footer-main .footer1 .footer1-header h2{
    font-size: 54px;
}
.footer .footer-main .footer1 .footer-icons{
    display: flex;
    gap: 20px;
}
.footer .footer-main .footer2 .footer2-links{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.footer .footer-main .footer2 .footer2-links a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.footer hr{
    border: none;
    height: 2px;
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
}
.footer .footer-rights{
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

@media (max-width: 900px){
    .footer .footer-main {
        flex-direction: column;
        gap: 30px;
    }
    .footer .footer-main .footer1 .footer1-header{
        width: 100%;
    }
    .footer .footer-main .footer1 .footer1-header h2{
        font-size: 44px;
    }
}