.network {
    width: 100%;
    height: 82vh; /* This makes the container fill the entire viewport height */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    overflow: hidden;
    font-family: "Fraunces",serif;
}

.network .network-main {
    text-align: center; /* Ensures text alignment is centered within the div */
}
.network .network-main h1{
    font-weight: bold;
    font-size: 84px;
}
.network .network-main h4{
    margin-top: 20px;
    font-weight: 300;
}
.network .network-main h3{
    margin-top: 34px;
    font-weight: 300;
}