.signup{
    width: 100%;
    overflow: hidden;
    height: 86vh;
    font-family: "Fraunces",serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom:86px;
}
.signup .signup-main{
    width: 390px;
    /* background-color: rgb(235, 235, 235); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* border: 1px solid black; */
    padding: 30px;
}
.signup .signup-main .signup-header{
    text-align: center;
    margin-bottom: 40px;
}
.signup .signup-main .signup-form form .signup-inp{
    margin-top: 25px;
    text-align: center;

}
.signup .signup-main .signup-form form .signup-inp input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-bottom: 2px solid black;
    border-radius:12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.signup .signup-main .signup-form form .signup-inp a{
    color: black;
    text-decoration: none;
}
.signup .signup-main .signup-form form .signup-btn button{
    margin-top: 24px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 12px;
}
@media (max-width: 900px) {
    .signup .signup-main{
        width: 100%;
    }

}