.home3{
    width: 100%;
    overflow: hidden;
    margin-top: 76px;
    padding: 20px;
    font-family: "Fraunces", serif;;
}
.home3 .home3-main{
    display: flex;
    gap: 65px;
    align-items: center;
    justify-content: center;
}
.home3 .home3-main .home3-side1{
    width: 480px;
    background-color: rgb(238, 238, 238);
    padding: 44px 44px 0px 44px;
    border-radius: 20px;
}
.home3 .home3-main .home3-side2{
    width: 460px;
}
.home3 .home3-main .home3-side1 img{
    width: 410px;
}
.home3 .home3-main .home3-side2 .home3-side2-header h2{
    font-weight: bold;
}
.home3 .home3-main .home3-side2 .home3-side2-para{
    margin-top: 20px;
    color: rgb(90, 90, 90);
}
.home3 .home3-main .home3-side2 .home3-side2-para p{
    font-size: 16px;
}

@media (max-width:900px) {

    .home3 .home3-main{
        /* display: flex; */
        gap: 35px;
        flex-direction: column;
    }
    .home3 .home3-main .home3-side1{
        width: 100%;

    }
    .home3 .home3-main .home3-side1{
        width: 100%;
    }
    .home3 .home3-main .home3-side2{
        width: 100%;
    }

}